---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# variable example #}
	<h1>{{title}}</h1>

	
	{# partial example #}
	{% include "partials/_header.html" %}

	{# mixin example #}
	{{mixins.icon('facebook')}}


	{# data usage example #}
		{% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %}
	{# end of example #}
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate distinctio laborum quos fugiat quibusdam veritatis tempore eaque voluptatum minima, alias impedit temporibus veniam aliquid quasi repudiandae cupiditate, officia nobis incidunt.
{% endblock %}
