{% set questions = [ { question: 'Why the graphic predictions for the 24 hours differs from that of the 48 hour and the weekly?',
answer: 'Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies
for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates
the graphics will not be different.' }, { question: 'What is the charts time zone?', answer: 'Lorem ipsum dolor sit amet
consectetur adipisicing elit. Possimus eaque ea modi ex, quaerat eos voluptatem nihil nesciunt! Delectus vel magni odit.
Iusto nesciunt vitae omnis voluptate commodi porro unde velit quidem illo adipisci, nisi illum cum quos magnam, sint et quam
sunt dicta voluptates dolor est nostrum molestiae? Quis, deleniti! Repellendus, deserunt provident fugit dolores temporibus
asperiores soluta maxime amet exercitationem molestiae voluptates!' }, { question: 'How accurate are the forecasts?', answer:
'Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eaque ea modi ex, quaerat eos voluptatem nihil nesciunt!
Delectus vel magni odit. Iusto nesciunt vitae omnis voluptate commodi porro unde velit quidem illo adipisci, nisi illum cum
quos magnam, sint et quam sunt dicta voluptates dolor est nostrum molestiae? Quis, deleniti! Repellendus, deserunt provident
fugit dolores temporibus asperiores soluta maxime amet exercitationem molestiae voluptates! Nobis accusamus laudantium quasi
pariatur hic officia error. Totam nostrum necessitatibus quis facilis deserunt dignissimos. Explicabo fugiat quaerat neque
inventore soluta alias placeat repellat, exercitationem, voluptate, voluptatibus quibusdam enim asperiores! Et aliquid eveniet
ipsam sunt sed.' }, { question: 'Why are the graphics of the forecasts so inconvenient?', answer: 'Lorem ipsum dolor sit
amet consectetur adipisicing elit. Possimus eaque ea modi ex, quaerat eos voluptatem nihil nesciunt! Delectus vel magni odit.
Iusto nesciunt vitae omnis voluptate commodi porro unde velit quidem illo adipisci, nisi illum cum quos magnam, sint et quam
sunt dicta voluptates dolor est nostrum molestiae? Quis, deleniti! Repellendus, deserunt provident fugit dolores temporibus
asperiores soluta maxime amet exercitationem molestiae voluptates! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
Tempore, corporis quidem distinctio nihil minus nostrum rerum consequatur doloribus nobis a debitis, reiciendis culpa. Similique
voluptatibus ratione labore non ad quibusdam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam itaque optio
molestiae error quaerat quas quidem deleniti deserunt earum! Possimus provident dolores itaque a, veritatis ex, maiores vero
iusto optio numquam quam facere quasi fuga corporis perferendis distinctio, nobis voluptatum quibusdam expedita asperiores
accusantium. Sunt, quibusdam. Voluptas autem veniam quam sequi. Dignissimos, obcaecati culpa accusantium eos id, quis soluta
esse, consequuntur fuga enim possimus necessitatibus eveniet quidem? Commodi corporis voluptatum unde molestiae quaerat ducimus
blanditiis voluptas accusantium sapiente soluta. Non reprehenderit dolorem, sequi quas ad vel placeat dolore eum voluptatibus
unde aperiam temporibus deserunt soluta, inventore ipsam molestiae rerum nihil!' }, { question: 'What is the most accurate
forecast?', answer: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eaque ea modi ex, quaerat eos voluptatem
nihil nesciunt! Delectus vel magni odit. Iusto nesciunt vitae omnis voluptate commodi porro unde velit quidem illo adipisci,
nisi illum cum quos magnam, sint et quam sunt dicta voluptates dolor est nostrum molestiae? Quis, deleniti! Repellendus,
deserunt provident fugit dolores temporibus asperiores soluta maxime amet exercitationem molestiae voluptates! Nobis accusamus
laudantium quasi pariatur hic officia error. Totam nostrum necessitatibus quis facilis deserunt dignissimos. Explicabo fugiat
quaerat neque inventore soluta alias placeat repellat, exercitationem, voluptate, voluptatibus quibusdam enim asperiores!
Et aliquid eveniet ipsam sunt sed.' } ] %}

<section class="faq">
    <div class="container">
        <div class="white-rounded-container--outer">
            <div class="white-rounded-container--inner faq__container">
                <h2 class="faq__title title--xlarge title--dark">
                    Frequently Asked
                    <br>
                    <span class="title--thin">Questions</span>
                </h2>
                <div class="faq__accordion">
                    {% for question in questions %} {% if loop.first %}
                    <div class="question question-active">
                        {% else %}
                        <div class="question">
                            {% endif %}
                            <div class="question__icon">
                                {{mixins.icon('chevron-circle-down')}}
                            </div>
                            <h4 class="question__question">{{question.question | safe}}</h4>
                            <p class="question__answer">{{question.answer}} </p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="faq__cube">
                        <img src="img/box6_light_bottom.png" alt="cube">
                    </div>
                </div>
            </div>
        </div>
</section>