<footer class="footer">
    <div class="footer__container container-inner">
        <div class="footer__social">
            <div class="footer__icon">
                    {{mixins.icon('facebook')}}
            </div>
            <div class="footer__icon">
                    {{mixins.icon('instagram')}}
            </div>
            <div class="footer__icon">
                    {{mixins.icon('youtube')}}
            </div>
            <div class="footer__icon">
                    {{mixins.icon('vk')}}
            </div>
        </div>
        <div class="footer__text">
            <p>Cookies</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</footer>