<footer class="footer">
    <div class="footer__container container-thin">
        <div class="footer__social">
            <div class="footer__icon">
                    {{mixins.icon('facebook')}}
            </div>
            <div class="footer__icon">
                    {{mixins.icon('instagram')}}
            </div>
            <div class="footer__icon">
                    {{mixins.icon('youtube')}}
            </div>
            <div class="footer__icon">
                    {{mixins.icon('vk')}}
            </div>
        </div>
        <div class="footer__text">
            <a href="#" class="footer__link">Cookies</a>
            <a href="#" class="footer__link">Privacy Policy</a>
        </div>
    </div>
    <div class="footer__scew"></div>
</footer>