{% set buttons = ['btc', 'ltc', 'eth', 'xrp', 'dash', 'xmr'] %}

<div class="forecast">
    <div class="container-inner forecast__container">
        <h3 class="forecast__title title--large">Popular forecasts</h3>
        <p class="forecast__descr">The forecasts are updated every 30 minutes</p>
        <div class="forecast__buttons">
            {% for btn in buttons %} {% if btn === 'dash' %}
            <a href="#" class="forecast__btn forecast__btn-active">{{btn}}</a>
            {% else %}
            <a href="#" class="forecast__btn">{{btn}}</a>
            {% endif %} {% endfor %}
        </div>
        <div class="forecast__cube-top">
            <img src="img/box3_light.png" alt="">
        </div>
        <div class="forecast__cube-middle">
            <img src="img/box2.png" alt="">
        </div>
        <div class="forecast__cube-bottom">
            <img src="img/box1.png" alt="">
    </div>
    </div>
    <!-- <div class="forecast__image">
        <img src="img/forecast.png" alt="">
    </div> -->
    <picture class="forecast__image">
        <source srcset="img/forecast__mobile.png" media="(max-width: 767px)">
        <source srcset="img/forecast__tablet.png" media="(max-width: 1023px)">
        <img srcset="img/forecast.png" alt="robot">
    </picture>
    
</div>