{% set buttons = ['btc', 'ltc', 'eth', 'xrp', 'dash', 'xmr'] %}

<div class="forecast">
    <div class="container-thin forecast__container data-cube-parent">
        <h3 class="forecast__title title--large">Popular forecasts</h3>
        <div class="forecast__descr">The forecasts are updated every 30 minutes</div>
        <div data-cube="forecast-top">
            <img src="img/box3_light.png" alt="">
        </div>
        <div data-cube="forecast-middle">
            <img src="img/box2.png" alt="">
        </div>
        <div data-cube="forecast-bottom">
            <img src="img/box1.png" alt="">
        </div>
    </div>

    <!-- ===== CHART ===== -->
    <div class="chart">
        <div class="chart__buttons container-thin">
            {% for btn in buttons %} {% if btn === 'dash' %}
            <a href="#" class="chart__btn chart__btn-active">{{btn}}</a>
            {% else %}
            <a href="#" class="chart__btn">{{btn}}</a>
            {% endif %} {% endfor %}
        </div>
        <picture class="chart__image">
            <source srcset="img/forecast__mobile.png" media="(max-width: 767px)">
            <source srcset="img/forecast__tablet.png" media="(max-width: 1023px)">
            <img srcset="img/forecast.png" alt="robot">
        </picture>
    </div>

</div>