<header class="header">
    <div class="header__container">
        <div class="top">
            <div class="top__logo">
                <a href="#" class="logo">
                    <img class="logo__image" src="img/logo.png" alt="logo">
                    <h1 class="logo__text">
                        <span class="logo__upper-text">
                            <span>Neurobot</span>
                            <span class="logo__upper-text logo__upper-text--coloured">.trading</span>
                        </span>
                        <br>
                        <span class="logo__bottom-text">Neural network forecasting</span>
                    </h1>
                </a>
            </div>
            <nav class="top__nav">
                <ul class="nav">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Forecasts</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Tokens</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">About</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">LogIn</a>
                    </li>
                </ul>
            </nav>
            <div class="top__cta">
                <a class="cta" href="#">Sign Up</a>
            </div>
            <div class="top__lang-change">
                <div class="lang-changer">
                    <ul class="lang-changer__list">
                        <li class="lang-changer__btn lang-changer__btn--active">
                            <a class="lang-changer__link" href="#">Eng</a>
                        </li>
                        <li class="lang-changer__btn">
                            <a class="lang-changer__link" href="#">Rus</a>
                        </li>
                        <li class="lang-changer__btn">
                            <a class="lang-changer__link" href="#">Esp</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top__toggler">
                <button class="toggler">
                    {{mixins.icon('toggler')}}
                </button>
            </div>




        </div>
    </div>
</header>