<header class="header">
    <div class="container-inner">
        <div class="top">
            <div class="top__logo logo">
                <img class="logo__image" src="img/logo.png" alt="logo">
                <div class="logo__text">
                    <h4 class="logo__upper-text">Neurobot
                        <span class="logo__upper-text logo__upper-text--coloured">.trading</span>
                    </h4>
                    <p class="logo__bottom-text">Neural network forecasting</p>
                </div>
            </div>
            <nav class="top__nav">
                <ul class="nav">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Forecasts</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Tokens</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">About</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">LogIn</a>
                    </li>
                </ul>
            </nav>
            <div class="top__cta">
                <a class="cta" href="#">Sign Up</a>
            </div>
            <div class="top__lang-change">
                <div class="lang-changer">
                    <a class="lang-changer__btn lang-changer__btn--active" href="#">Eng</a>
                    <a class="lang-changer__btn lang-changer__btn--inactive" href="#">Rus</a>
                </div>
            </div>
            <div class="top__toggler">
                <div class="toggler">
                    {{mixins.icon('toggler')}}
                </div>
            </div>




        </div>
    </div>
</header>