<header class="header">
    <div class="container-inner">
        <div class="top">
            <div class="top__logo logo">
                <img class="logo__image" src="img/logo.png" alt="logo">
                <div class="logo__text">
                    <h4 class="logo__upper-text">Neurobot
                        <span class="logo__upper-text logo__upper-text--coloured">.trading</span>
                    </h4>
                    <p class="logo__bottom-text">Neural network forecasting</p>
                </div>
            </div>
            <nav class="top__nav">
                <ul class="nav">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Forecasts</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Tokens</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">About</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">LogIn</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__btn" href="#">Sign Up</a>
                    </li>
                    <li class="nav__item">
                        <div class="dropdown">
                            <a class="nav__link nav__btn" js-dropdown-trigger" href="#">Eng</a>
                            <a class="nav__link js-dropdown" href="#">Rus</a>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>