<div class="hero">
    <div class="hero__text">
        <h2 class="hero__title">Forecasting Exchange Rates</h2>
        <p class="hero__descr">of Cryptocurrencies
            <br> by Neural Network Algorithm</p>
        <a href="#" class="btn btn-inline btn-dark">Join Free For 3 Days</a>
    </div>
    <div class="hero__tv-wrapper">
        <div class="tv">
            <div class="tv__inner"></div>
            <div class="tv__play">
                {{mixins.icon('PlayButton')}}
            </div>
            <div class="tv__robot">
                <img class="tv__robot--big-res" src="img/robot_desctop.png" alt="robot">
                <img class="tv__robot--small-res" src="img/robot_mobile.png" alt="robot">
            </div>
            <div class="hero__cube-light-shaded">
                <img src="img/box4_light_shaded.png" alt="">
            </div>
        </div>


    </div>


</div>