<div class="hero">
    <div class="container">
        <div class="container-inner">
            <div class="hero__text">
                <h2 class="hero__title title--xlarge">Forecasting Exchange Rates</h2>
                <p class="hero__descr">of Cryptocurrencies
                    <br> by Neural Network Algorithm</p>
                <a href="#" class="btn btn-inline btn-dark">Join Free For 3 Days</a>
            </div>

            <div class="hero__tv-wrapper ">
                <div class="tv">
                    <div class="tv__inner"></div>
                    <div class="tv__play">
                        {{mixins.icon('PlayButton')}}
                    </div>
                    <picture class="tv__robot">
                        <source srcset="img/robot_mobile.png" media="(max-width: 767px)">
                        <img srcset="img/robot_desctop.png" alt="robot">
                    </picture>
                </div>
                <div class="hero__cube-light-shaded">
                    <img src="img/box4_light_shaded.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>