{% set news = [ { title: 'Абсолютная погрешность', text: 'Рондо синхронизует динамический эллипсис. Газ специфицирует ролевой
соноропериод. Стимулирование коммьюнити, как неоднократно наблюдалось.' }, { title: 'Производство имитирует эгоцентризм',
text: 'Закон тормозит гидродинамический удар. Контекстная реклама вертикально восстанавливает интеграл по бесконечной области.'
}, { title: 'Тест полифигурно отражает ', text: 'Визуализация концепии, следовательно, излучает архетип. Не доказано, что
струя накладывает девиантный стратегический рыночный план. Интеграл Дирихле отклоняет креативный постулат.' } ] %}

<section class="news">
    <div class="container-inner news__container">
        <h2 class="news__title title--large title--white">Latest News</h2>
        <div class="news__wrapper">
            {% for item in news %}
            <div class="single-news">
                <div class="single-news__image"></div>
                <h4 class="single-news__title">{{item.title}}</h4>
                <p class="single-news__text">{{item.text}}</p>
            </div>
            {% endfor %}
            
        </div>
        <div class="news__btn-wrapper">
            <a href="#" class="btn btn-dark btn-block">Load More</a>
        </div>
        <div class="news__cube">
            <img src="img/box5_light_shaded_bottom.png" alt="">
        </div>

    </div>
</section>