<section class="tokens-form container">
    <div class="tokens-form__container white-container">
        <h2 class="tokens-form__title title--xlarge">
            Tokens
        </h2>
        <div class="tokens-form__text">
            <p>
                The NeuroBot is a neural network algorithm created for forecasting exchange rates of cryptocurrencies. The neural network
                collects and analyses Data 24/7 and provides forecasts for various cryptocurrencies' exchange rates. There
                are three types of forecasts: 24 hours, 48 hours and one week. Neural network algorithm implemented with
                algorithms of the essential aspects of technical analysis, such as patterns and signal indicators calculate
                forecast Data with one second time.
            </p>
            <p> The program will be further upgraded by introducing the remaining elements of technical analysis (Fibonacci retracement,
                the Elliot wave theory , etc ) and fundamental analysis - market news algorithms will be implemented - one
                more neural network with functions to determine positive and negative tendencies of the market.
            </p>
        </div>
        <form action="#" class="tokens-form__form">
            <h3 class="tokens-form__form-title">NEB contract address</h3>
            <div class="tokens-form__input-field">
                <input type="text" class="tokens-form__input" placeholder="0xd84500DDAF560dF7bE57702b3A8769A782Ce0277" id="tokens-input">
                <button type="button" class="tokens-form__copy-btn">
                    {{mixins.icon("tokens-form-label-icon")}}
                </button>
            </div>
            <div class="tokens-form__buttons-field">
                <input type="submit" class="tokens-form__submit btn btn-dark tokens-form__btn btn-colored" value="etherscan.io" />
                <a href="#" class="btn btn-outline tokens-form__btn">Etherdelta.com</a>
            </div>
        </form>
    </div>
</section>