[data-cube-parent]
	position: relative

[data-cube]
	position: absolute
	img 
		max-width: 100%
		display: block

[data-cube="faq"]
	top: 12px
	left: -189px
	+md 
		top: -101px
		right: 12px
		left: auto
	+sm 
		top: -116px
		left: -78px

[data-cube="contacts-left"]
	top: 92px
	left: -373px
	+md 
		top: 465px
		left: 278px
	+sm 
		top: 100%
		left: 80%

[data-cube="contacts-right"]
	top: -62px
	right: -307px
	+md 
		top: -83px
		right: -19px
	+sm 
		right: -70px
		top: -70px

[data-cube="news"]
    right: -293px
    bottom: 215px
    +sm 
        right: 200%

[data-cube="forecast-top"]
        top: -1282px
        left: -354px
        z-index: 20
[data-cube="forecast-middle"]
        right: -312px
        top: -81px
        z-index: 100
        +md 
            right: 0
        +sm 
            right: 1000px
[data-cube="forecast-bottom"]
        left: -485px
        top: 44px
        z-index: 1000
        +md 
            left: -200px
            top: 1400px   