.faq
    position: relative
    &__container
        position: relative
    &__title
        margin-bottom: 59px
    &__cube
        position: absolute
        top: 80px
        left: -200px
        +md 
            top: -50px
            right: 50px
            left: auto
        +sm 
            top: -100px
            left: -70px

    

.question
    position: relative
    padding-left: 52px
    &:not(:last-child)
        margin-bottom: 40px
        +sm 
            margin-bottom: 30px
    &__question
        margin-bottom: 24px
        font-size: 30px
        font-weight: 600
        line-height: 1.6
        color: $main-color-dark
        +md 
            font-size: 24px
            margin-bottom: 24px
            line-height: 36px
        +sm 
            font-size: 18px
            margin-bottom: 20px
    &__icon
        position: absolute
        top: 0
        left: 0
        width: 36px
        height: 36px
        cursor: pointer
        svg
            height: 100%
            width: 100%
            fill: $main-color-light
    &__answer
        display: none
    &-active &__icon
        transform: rotate(-90deg)
    &-active &__answer
        display: block
        line-height: 2
        font-size: 18px
