.forecast   
    position: relative
    background-color: $main-color-dark
    z-index: 10
    padding: 155px 0 144px
    color: #fff
    +md 
        padding: 60px 0 80px
    +sm 
        padding: 10px 0 50px
    // margin-top: -48px
    // overflow-y: hidden
    &__container
        position: relative
        z-index: 100
    &__title
        margin-bottom: 16px
        +md 
            margin-bottom: 6px
        +sm 
            font-size: 30px
            line-height: 72px
    &__descr
        margin-bottom: 40px
        font-size: 24px
        font-weight: 600
        line-height: 36px 
        +md 
            font-size: 18px
            margin-bottom: 24px
        +sm 
            font-size: 16px
            line-height: 24px
            margin-top: -4px
    &__buttons
        display: flex
        justify-content: space-between
        margin-bottom: 42px 
        +sm 
            flex-wrap: wrap  
    &__btn
        display: block
        width: 136px
        height: 84px
        border-radius: 8px
        text-align: center
        border: solid 8px #223e5c
        line-height: 68px
        font-size: 30px
        font-weight: bold
        vertical-align: top
        text-transform: uppercase
        &:not(:last-child)
            margin-right: 30px
            +sm 
                margin-right: 0
        +sm 
            margin-top: 10px
        &-active
            background-color: $main-color-light
            border: solid 8px $main-color-light
        +md
            height: 64px
            border: solid 6px #223e5c
            font-size: 18px
            line-height: 52px
        +sm 
            height: 48px
            width: 30%
            font-size: 16px
            line-height: 36px


    &__image  
        display: block
        position: relative
        margin: 0 auto
        padding: 0 24px
        z-index: 5
        +md 
            padding: 0 60px
        +sm 
            padding: 0 6px
        img
            max-width: 100%
            width: 100%
            
    &:before
        position: absolute
        content: ''
        top: 0
        right: 0
        left: 0
        width: 100%
        height: 200%
        background-color: $main-color-dark
        z-index: 10
        transform: skewY(30deg)
        transform-origin: top right
        z-index: 2
        +md 
            height: 150%
        +sm 
            height: 100%
    &:after
        position: absolute
        content: ''
        bottom: 0
        right: 0
        left: 0
        width: 100%
        height: 200%
        background-color: $main-color-dark
        z-index: 10
        transform: skewY(30deg)
        transform-origin: bottom left
        z-index: 2
        +md 
            height: 150%
        +sm 
            height: 100%

.forecast
    &__cube-top
        position: absolute
        top: -1282px
        left: -354px
        z-index: 20
    &__cube-middle
        position: absolute
        right: -312px
        top: -81px
        z-index: 100
        +md 
            right: 0
        +sm 
            right: 1000px
    &__cube-bottom
        position: absolute
        left: -485px
        top: 44px
        z-index: 1000
        +md 
            left: -200px
            top: 1400px   

    
