.header
    position: relative
    padding: 66px 0 117px
    z-index: 5

.top    
    height: 100%
    display: flex
    align-items: center
    &__nav 
        margin-left: auto

.logo
    &__image
       display: inline-block
       margin-right: 12px
    &__text
        display: inline-block
        color: #fff
        vertical-align: top
    &__upper-text
        font-size: 24px
        font-weight: 600
        line-height: 1.15
        &--coloured
            color: #56ecf6

    &__bottom-text
        font-size: 13px
        font-weight: 500


.nav
    display: flex
    align-items: center
    &__item
        margin: 0 18px
        // padding: 13px 30px
    &__link
        display: block
        font-size: 16px
        font-weight: 600
        color: #fff
    &__btn
        padding: 13px 30px
        border-radius: 16px
        color: #1d354e
        background-color: #ffffff


.js-dropdown
    display: none