.news 
    color: #fff
    margin-bottom: 110px
    margin-top: 118px
    +md 
        margin-top: 70px
    +sm 
        margin-bottom: 75px
        margin-top: 70px
    &__container
        position: relative
    &__title
        margin-bottom: 40px
        +sm 
            margin-bottom: 28px
    &__wrapper
        position: relative
        display: flex
        justify-content: space-between
        change direction
        // column-count: 3
        +sm 
            flex-direction: column
            // column-count: 1
    &__btn-wrapper
        display: flex
        justify-content: center
        width: 34%
        margin: 0 33% 
        +sm 
            width: 214px
            margin: 0 auto

.single-news 
    display: inline-block
    flex-basis: 31%
    margin-bottom: 35px
    +md 
        margin-bottom: 10px
    &__image
        height: 300px
        width: 100%
        margin-bottom: 16px
        border-radius: 8px
        background-color: #222222
        +md 
            max-width: 220px
            height: 220px
            margin-bottom: 32px
        +sm 
            height: 220px
            max-width: 100%
            width: 100%
            margin-bottom: 24px
    &__title
        margin-bottom: 13px
        font-size: 30px
        font-weight: 600
        line-height: 1.2
        +md 
            font-size: 24px
            line-height: 30px
        +sm 
            margin-bottom: 16px
            font-size: 24px
            line-height: 30px
    &__text
        font-size: 14px
        font-weight: normal
        line-height: 1.57
        +sm 
            line-height: 22px
       