.tokens 
    margin-bottom: 88px
    // margin-top: 200px
    &__container
        margin-bottom: 22px
    &__title
        margin-bottom: 40px
        +sm 
            margin-bottom: 18px
    &__item
        margin-bottom: 36px
        +sm 
            margin-bottom: 24px
    &__text 
        margin-bottom: 30px
        font-size: 18px
        line-height: 2
        font-weight: 300
        +md 
            font-size: 14px
            line-height: 22px
            margin-bottom: 20px
    &__image
        img 
            max-width: 100% 