.icon-chevron-circle-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-PlayButton {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-toggler {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
