.icon-chevron-circle-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-telegram {
  width: 1.15em;
  height: 1em;
  fill: #FFF;
}
.icon-vk {
  width: 1.8em;
  height: 1em;
  fill: #FFF;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
